En cuál comuna hay más delitos?
que tipo de delito es más común?

## Importación

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import drive
drive.mount('/content/drive')

ruta_archivo = '/content/drive/MyDrive/Proyecto Delitos/delitos_2023.xlsx'

df_d = pd.read_excel(ruta_archivo, engine="openpyxl")

Mounted at /content/drive

## Exploración de datos (EDA)

In [ ]:
print(df_d.head())

   id-sum  anio    mes  dia      fecha  franja      tipo  \
0       1  2023  enero  LUN 2023-01-02      19  Vialidad
1       2  2023  enero  MIE 2023-01-11      11  Vialidad
2       3  2023  enero  VIE 2023-01-13       4  Vialidad
3       4  2023  enero  VIE 2023-01-13       6  Vialidad
4       5  2023  enero  VIE 2023-01-13       6  Vialidad

                         subtipo uso_arma uso_moto            barrio comuna  \
0  Muertes por siniestros viales       NO       NO          BELGRANO     13
1  Muertes por siniestros viales       NO       NO      VILLA LUGANO      8
2  Muertes por siniestros viales       NO       NO          SAAVEDRA     12
3  Muertes por siniestros viales       NO       NO  PARQUE CHACABUCO      7
4  Muertes por siniestros viales       NO       NO  PARQUE CHACABUCO      7

     latitud   longitud  cantidad
0  -58445747  -34559570         1
1  -58476557  -34673096         1
2  -58485670  -34544011         1
3  -58451874  -34636364         1
4  -58451874  -34636364         1

In [ ]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157461 entries, 0 to 157460
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id-sum    157461 non-null  int64
 1   anio      157461 non-null  int64
 2   mes       157461 non-null  object
 3   dia       157461 non-null  object
 4   fecha     157461 non-null  datetime64[ns]
 5   franja    157461 non-null  int64
 6   tipo      157461 non-null  object
 7   subtipo   157461 non-null  object
 8   uso_arma  157461 non-null  object
 9   uso_moto  157461 non-null  object
 10  barrio    156779 non-null  object
 11  comuna    156795 non-null  object
 12  latitud   154642 non-null  object
 13  longitud  154642 non-null  object
 14  cantidad  157461 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(10)
memory usage: 18.0+ MB

In [ ]:
df_d.shape

(157461, 15)

In [ ]:
df_d.duplicated().sum()

0

In [ ]:
df_d.isnull().sum()

id-sum         0
anio           0
mes            0
dia            0
fecha          0
franja         0
tipo           0
subtipo        0
uso_arma       0
uso_moto       0
barrio       682
comuna       666
latitud     2819
longitud    2819
cantidad       0
dtype: int64

In [ ]:
df_d.dropna(inplace=True)

In [ ]:
df_d = df_d.drop(columns=['latitud','longitud'])

In [ ]:
df_d = pd.get_dummies(df_d, columns=['franja', 'barrio', 'comuna', 'tipo', 'uso_arma', 'uso_moto'])

In [ ]:
df_d['fecha'] = pd.to_datetime(df_d['fecha'])
df_d['dia_semana'] = df_d['fecha'].dt.dayofweek
df_d['mes'] = df_d['fecha'].dt.month
df_d['anio'] = df_d['fecha'].dt.year

In [ ]:
df_d.drop(columns=['fecha'], inplace=True)

## Graficos